{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />

    <title>Ações Afirmativas</title>
  </head>
  <body>
    <header class="header__container">
      <div class="header__content container">
        <a class="nav-links" href="/">Repositório de<br>Açoes Afirmativas</a>
  
        <nav class="nav__container" id="nav-menu">
          <ul class="nav__content">
            <li><a href="/" class="nav-links">Ações Afirmativas</a></li>
            <li><a href="/" class="nav-links">Projetos</a></li>
            <li><a href="/" class="nav-links">Sobre-nós</a></li>
            {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-links" href="{% url 'account_logout' %}">Sair</a>
                    </li>
                    {% else %}
                    <li><a href="{% url 'account_login' %}"class="nav-links">Entrar</a></li>
                    <li class="nav-item">
                        <a class="nav-links" href="{% url 'account_signup' %}">Cadastro</a>
                    </li>
            {% endif %}
          </ul>
        </nav>
        
        <div class="search__container" id="search-container">
          <div class="search-content">
            <div class="search__content">
              <form method="GET" action="{% url 'projetos:pesquisa' %}">
                <input
                  type="search"
                  name="q"
                  aria-label="Search" 
                  value='{{ request.GET.q }}'
                  placeholder="Pesquise Aqui"
                />
              </form>
            </div>
          </div>
        </div>
    </header>

    <main>
      <section class="container" id="home">
          <div class="container_logout">
            <h1>Sair</h1>
            <p>Você tem certeza que deseja sair?</p> <br><br>
            <form method="post" action="{% url 'account_logout' %}">
                {% csrf_token %}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                {% endif %}
                <button class="btn-logout" type="submit"> Sair </button>
            </form>
          </div>
        </section>
    <main>
</body>
</html>

