<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>AçõesAfirmativas</title>
    <link rel="stylesheet" href="homestyle.css">
    <!-- Boxicons CDN Link-->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="sidebar">
      <div class="logo_content">
        <div class="logo">
          <i class='bx bxl-c-plus-plus'></i>
          <div class="logo_name">InstitutoFederal</div>
        </div>
        <i class='bx bx-menu'  id="btn" ></i>
      </div>
      <ul class="nav_list">
        <li>
            <i class='bx bx-search-alt-2' ></i>
            <input type="text" placeholder="Pesquisar...">
            <span class="tooltip">Pesquisar</span>
        </li>
        <li>
          <a href="#">
            <i class='bx bxs-grid-alt' ></i>
            <span class="links_name">Dashboard</span>
          </a>
            <span class="tooltip">Dashboard</span>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-user' ></i>
            <span class="links_name">Usuário</span>
          </a>
            <span class="tooltip">Usuário</span>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-message' ></i>
            <span class="links_name">Mensagens</span>
          </a>
            <span class="tooltip">Mensagens</span>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-time' ></i>
            <span class="links_name">Histórico</span>
          </a>
            <span class="tooltip">Histórico</span>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-folder' ></i>
            <span class="links_name">Repositórios</span>
          </a>
            <span class="tooltip">Repositórios</span>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-file' ></i>
            <span class="links_name">Ações Afirmativas</span>
          </a>
            <span class="tooltip">Ações Afirmativas</span>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-star' ></i>
            <span class="links_name">Favoritos</span>
          </a>
            <span class="tooltip">Favoritos</span>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-cog' ></i>
            <span class="links_name">Configurações</span>
          </a>
            <span class="tooltip">Configurações</span>
        </li>
      </ul>
      <div class="profile_content">
        <div class="profile">
          <div class="profile_details">
            <img src="profile.jpg" alt="">
            <div class="name_job">
              <div class="name">João Pacheco</div>
              <div class="job">Estudante</div>
            </div>
          </div>
          <i class='bx bx-log-out' id="log_out"> </i>
        </div>
      </div>
    </div>
    <div class="home_content">
      <div class="text">Home Content</div>
    </div>

    <script>
      let btn = document.querySelector("#btn");
      let sidebar = document.querySelector(".sidebar");
      let searchBtn = document.querySelector(".bx-search-alt-2");

      btn.onclick = function(){
        sidebar.classList.toggle("active");
      }
      searchBtn.onclick = function(){
        sidebar.classList.toggle("active")
      }

    </script>

  </body>
</html>
