h1{
    color:blueviolet;
    font-family: Arial, Helvetica, sans-serif;
}
div{
    background-color: brown;
}
.div2{
    width: max-content;
    height: max-content;
    margin-left: 40%;
    margin-top: 75px;
    background-color: cornflowerblue;
}