{% load static %}

<link
      href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />

<section class="container" id="home">
    <div class="home__content container">
      <div class="home__title__container">
        <h5 class="home__subtitle">Repositório de</h5>
        <h1 class="home__title">Ações Afirmativas</h1>
      <!--</div>
      <img src="./assets/img/logo_ifsc.png" alt="Persons image" />
    </div>-->
  </section>

<script src="{% static 'js/main.js' %}"></script>