{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />

    <title>Ações Afirmativas</title>
  </head>
  <body>
    <header class="header__container">
      <div class="header__content container">
        <a class="nav-links" href="/">Repositório de<br>Açoes Afirmativas</a>
  
        <nav class="nav__container" id="nav-menu">
          <ul class="nav__content">
            <li><a href="#acoesafirmativas" class="nav-links">Ações Afirmativas</a></li>
            <li><a href="#projetos" class="nav-links">Projetos</a></li>
            <li><a href="#sobrenos" class="nav-links">Sobre-nós</a></li>
            {% if user.is_authenticated %}
            <li class="nav-item"><a class="nav-links" href="{% url 'account_logout' %}">Sair</a></li>
            {% else %}
            <li class="nav-item"><a class="nav-links" href="{% url 'account_login' %}">Entrar</a></li>
            <li class="nav-item"><a class="nav-links" href="{% url 'account_signup' %}">Cadastro</a></li>
            {% endif %}
          </ul>
        </nav>
  
        <div class="search__container" id="search-container">
          <div class="search-content">
            <div class="search__content">
              <input
                type="text"
                name="pokemon"
                id="input-pokemon"
                placeholder="Pesquise Aqui"
              />
              <a href="#" class="search-btn" id="search-btn"
                ><i class="ri-search-line"></i
              ></a>
            </div>
          </div>
        </div>
    </header>

    <main>
      <center>
      <section class="container" id="home">
        <div class="home__content container">
          <div class="home__title__container">
            <h5 class="home__subtitle">Repositório de</h5>
            <h1 class="home__title">Ações Afirmativas</h1>
          </div>
          <img src="{% static 'imagens/logo_ifsc.png' %}"  alt="Persons image" />
        </div>
      </section>
    </center>

      <section class="actions__container" id="acoesafirmativas">
        <div class="actions__content container">
          <img class="bg-image bg1" src="{% static 'imagens/bg1.svg' %}" alt="" />
          <img class="bg-image bg2" src="{% static 'imagens/bg2.svg' %}"alt="" />
          <h1 class="section__title">Ações<br> Afirmativas</h1>

          <div class="actions__cards__container">
            <div class="actions__line"></div>

            <div class="cards__container">
              <img src="{% static 'imagens/ifsc.png' %}"  alt="*ifsc image" />
              <div class="dot"></div>
              <div class="card__text__container">
                <h2 class="card__title"style="text-align: center;">Você sabe o que são ações afirmativas?</h2>
                <p class="card__description">
                  Todos já ouviram falar sobre ações Afirmativas, mas, muitas vezes não temos completa noção do que se trata e da sua completa importância na sociedade contemporânea. Dessa forma, Ações Afirmativas tem como objetivo: oferecer oportunidades de acesso ao emprego e à educação e consequentemente diminuir a desigualdade social.
                </p>
              </div>
            </div>
            <div class="cards__container">
              <img
                class="inverter-image"
                src="{% static 'imagens/ifsc.png' %}"
                alt="action image"
              />
              <div class="dot"></div>
              <div class="card__text__container inverter-text">
                <p class="card__description">
                  Um grande exemplo dessas ações no Brasil são as cotas que são especialmente para minorias, como: negros, indígenas, cidadãos com baixa renda. Sendo assim, esses grupos marginalizados são inseridos em nossa sociedade, conseguindo boas oportunidades.
                </p>
              </div>
            </div>

            <div class="cards__container">
              <img src="{% static 'imagens/ifsc.png' %}" alt="ifsc image" />
              <div class="dot"></div>
              <div class="card__text__container">
                <p class="card__description">
                  As cotas são um pequeno exemplo da presença de ações afirmativas em nossa sociedade, mas possui diversos outros projetos, que por não serem expostos para a população de forma prática e clara muitas vezes nem fazemos ideia de sua existência.
                </p>
              </div>
            </div>

            <div class="cards__container">
              <img
                class="inverter-image"
                src="{% static 'imagens/ifsc.png' %}"
                alt="ifsc image"
              />
              <div class="dot"></div>
              <div class="card__text__container inverter-text">
                <h2 class="card__title"style="text-align: center;">Lei de cotas</h2>
                <p class="card__description">
                  Ao contrário do que muitas pessoas pensam lei de cotas não são somente para negros.Essa ação foi criada pelo governo federal para dar oportunidades a mais para alunos de escola pública, de baixa renda, pardos, negros, indígenas e pessoas com deficiência de ingressarem em uma boa instituição de ensino, tanto para graduação quanto para o técnico. <br> <br>Para mais informações sobre leis de cotas acesse : <a href="http://portal.mec.gov.br/cotas/perguntas-frequentes.html">http://portal.mec.gov.br/cotas/perguntas-frequentes.html</a>

                </p>
              </div>
            </div>

            <div class="cards__container">
              <img src="{% static 'imagens/ifsc.png' %}" alt="ifsc image" />
              <div class="dot"></div>
              <div class="card__text__container">
                <p class="card__description">
                  Beneficiados: alunos de escola pública, de baixa renda, pardos, negros, indígenas e pessoas com deficiência
 <br><br>Criador: Nos últimos anos do mandato presidencial de Fernando Henrique Cardoso, do PSDB, teve início a implantação de cotas nas universidades públicas de todo o Brasil

                </p>
              </div>
            </div>  
          </div>
        </div>
      <a href="{% url 'pages:acoes' %}">
        <button class="more-btn" id="btn_acoes">
          <i class="ri-add-line"></i>
        </button>
      </a>
      </section>

      <section class="actx__container" id="projetos">
        <h2 class="actx__title">Projetos em Destaque</h2>
        <div class="actx__content container">
            {% for projeto in projetos %}
              <div class="projetos_destaque">
                <a href="{{ projeto.get_absolute_url }}">
                  <p class="text_projeto">{{ projeto.nome }}</p>
                </a>
              </div>
            {% endfor %}
        </div>
        <a href="{% url 'projetos:listar' %}">
          <button class="more-btn">
            <i class="ri-add-line"></i>
          </button>
        </a>
      </section>

      <section class="about__container" id="sobrenos">
        <div class="about__content container">
          <h2 class="section__title">Sobre Nós</h2>
          <div class="history__container">
            <div class="history__content">
              <div class="sobre-nos">
                <img
                id="img_sobre_nos"
                src="{% static 'imagens/ifsc.png' %}"
                alt="ifsc image"
                />
            </div>
            <p class="lead mb-5">Olá, estamos no último semestre de informática do IFSC Campus Gaspar e fizemos esse projeto com o objetivo de formar e informar os leitores sobre o que são ações afirmativas, seu papel na sociedade e quais ações temos em nosso câmpus. Desse modo, esperamos esclarecer as dúvidas e aprofundar seus conhecimentos sobre o assunto. Portanto, caso possuam alguma dúvida ou queiram conversar sobre o assunto estamos à disposição para ajudar <br>
                <br>
                Nosso grupo é composto por:<br><br>

                -Amanda Rafaela Eduardo: Responsável pela parte de documentação e conteúdo do site <br>
                -Thiago Alves dos Santos: Desenvolvimento Front-end <br>
                -Matheus Medeiros Oselame: Desenvolvimento Back-end <br>
                -Davi Deschamps: Desenvolvimento Front-end <br>
                -João Victor Pacheco: Desenvolvimento Front-end <br><br>

                IFSC Campus Gaspar · (47) 99248-2422 · <br><br><br>
                Caso tenha ocorrido algum problema, esteja com alguma dificuldade para acessar as páginas do site ou gostaria de dar alguma ideia. Favor entrar em contato com os administradores do projeto por meio do seguinte email:<br><br>


                <a href="mailto:acoesafirmativass@gmail.com">acoesafirmativass@gmail.com</a>
                </p>
               

            <div class="social-icons">
                <a class="social-icon" href="#!"><i class="fab fa-linkedin-in"></i></a>
                <a class="social-icon" href="#!"><i class="fab fa-github"></i></a>
                <a class="social-icon" href="#!"><i class="fab fa-twitter"></i></a>
                <a class="social-icon" href="#!"><i class="fab fa-facebook-f"></i></a>
            </div>
            </div>
          </div>
        </div>
      </section>
    </main>


    <footer class="footer__container">
      <div class="footer__content container">
        <i class="ri-copyright-line"></i>
        <p class="copy">2021 devCleidison. All rights reserved.</p>
      </div>
    </footer>

    <script src="{% static 'js/apiConsumer.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>