{% extends 'base/base.html' %}

{% block title %}Repositório Ações Afirmativas{% endblock %}

{% block content %}
    Olá!
    <br>
    <a href="{% url 'projetos:projeto' %}">
        <button type="button">Novo Projeto</button>
    </a>
        <div>
            {% if projetos %}
                {% for projeto in projetos %}
                <h2>
                    Nome do projeto -->> {{ projeto.nome }} <br>
                </h2>
                {% endfor %}
            {% else %}
                <h1>SEM PROJETOS CADASTRADOS</h1>
            {% endif %}
        </div>
    
{% endblock %}
