{% extends 'base/base.html' %}

{% block title %}Repositório Ações Afirmativas{% endblock %}

{% block content %} 

{% load static %}
<center>
    <div class="container-projetos">
        {% if projetos %}
            {% for projeto in projetos %}
            <div class="projetos">
                {{ projeto.nome }}
            </div>
            {% endfor %}
        </div>
        {% else %}
        <h1>SEM PROJETOS CADASTRADOS</h1>
        {% endif %}
    
        <br>
        <br>
        <br>
        <a href="projeto/">
            <button type="button">Novo Projeto</button>
        </a>
    </div>
</center>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}
