main .container{
    background-color: red;
}
h2{
    text-align: center;
}
#div_id_login{
    width: 100px;
    text-align: center;
    margin-left: 45.5%;
}
#div_id_password{
    width: 100px;
    text-align: center;
    margin-left: 45.5%;
}
#div_id_remember{
    width: 100px;
    text-align: center;
    margin-left: 45.5%;
}
#btn-entrar{
    width: 150px;
    text-align: center;
    margin-left: 43%;
}
#id_remember{
    margin-left: -15%;
}