#div_id_username{
    width: 150px;
    text-align: center;
    margin-left: 45%;
}

#div_id_email{
    width: 150px;
    text-align: center;
    margin-left: 45%;
}

#div_id_password1{
    width: 150px;
    text-align: center;
    margin-left: 45%;
}

#div_id_password2{
    width: 150px;
    text-align: center;
    margin-left: 45%;
}

#btn-signup{
    width: 150px;
    text-align: center;
    margin-left: 45%;
}
.text-signup{
    margin-left: 45.5%;
}
