{% extends 'base/base.html'%}

{% block title%}Ações Afirmativas{% endblock %}

{% block content %} 
<h1>
    AÇÕES AFIRMATIVAS
</h1>
<h3>
    Ações Afirmativas são medidas que visam o direito do cidadão a ter acesso ao emprego e à educação. <br>
    Na contemporaneidade, essas ações buscam diminuir a desigualdade social entre as pessoas permitindo-lhes <br>
    ter as mesmas condições e oportunidades no meio acadêmico e profissional, independente de cor ou classe <br>
    social. Primordialmente no Brasil, ações afirmativas se estabelecem mediante aos mecanismos de cotas, <br>
    os quais destinam-se às minorias, como: negros, indígenas, cidadãos com baixa renda. Desse modo, políticas <br>
    públicas voltadas às necessidades de grupos marginalizados, possibilitam a inserção social desses indivíduos na sociedade. <br>
    Entretanto, no cenário contemporâneo, existem diversos projetos os quais possuem como objetivo proporcionar a maior <br>
    equidade possível. Porém, por não possuir transparência de informações, a população que poderia estar sendo beneficiada <br>
    com essas iniciativas, não têm conhecimento sobre essas propostas. Contudo, as ações afirmativas são martirizadas a partir do momento <br>
    que a inclusão remete-se a questões étnicas, por conta da supervalorização do povo mestiço na sociedade Brasileira, esse fato levou a <br>
    problematização das cotas serem restritas a certos grupos étnicos. Em vista disso, diversas pessoas questionam a utilidade dessas ações <br>
    existirem, fundadas em argumentações precedentes de que, por exemplo, cotas raciais não são necessárias, pois todos possuem as mesmas <br>
    oportunidades. Dessa forma, tornou-se necessário debater sobre essa problemática para o entendimento da necessidade tornar-se essencial,<br> 
    a datar dessas pessoas não terem a representatividade dentro de universidades e cargos públicos. Conforme dados divulgados pelo IBGE, <br>
    no ano de 2018 cerca de 18,3% dos jovens pretos e pardos haviam iniciado e concluído sua graduação, em consoante com a informação, <br>
    no mesmo ano 36,1% dos  jovens brancos estavam iniciando e concluindo a graduação do ensino superior. Portanto, é notável que a representatividade <br> 
    dos jovens pretos e pardos nas universidades é questionável. Desse modo, faz-se necessária a intervenção das ações afirmativas em todos os casos, <br>
    visando a máxima democratização e compartilhamento dos projetos que representam estas ações. Dessa forma, o trabalho proporcionará um site que vai <br>
    facilitar o acesso a ações afirmativas. Contudo, a base de dados que será disponibilizada para aplicação no site está sendo desenvolvida por outro projeto, <br>
    que tem como principal autoria a professora de história Renata Pimenta.<br>
</h3>

{% endblock %}