<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="sliderstyle.css">
    </head>
    <body>
        <ul class = "slider">
        <li>
            <input type="radio" id="slide1" name="slide" checked>
            <label for="slide1"></label>
            <img src="" />
        </li>
        <li>
            <input type="radio" id="slide2" name="slide">
            <label for="slide2"></label>    
            <img src="" />
        </li>
        <li>
            <input type="radio" id="slide3" name="slide">
            <label for="slide3"></label>
            <img src="" />
        </li>
</ul>
</body>
</html>