{% extends "base/base.html" %}

{% block title %}Cadastrar Projetos{% endblock %}

{% block content %}
    <h2>Cadastrar Projeto</h2>

    <div>
        <form action="submit" method="POST">{% csrf_token %}
            <input type="number" name="id_projeto" value="{{ projetos.id_projeto }}" hidden>
            <label>Nome</label>
            <br>
            <input type="text" name="nome" value="{{ projetos.nome }}">
            <br>
            <label>tematica</label>
            <br>
            <input type="text" name="tematica" value="{{ projetos.tematica }}">
            <br>
            <label>Objetivo</label>
            <br>
            <input type="text" name="objetivo" value="{{ projetos.objetivo }}">
            <br>
            <label>Publico Alvo</label>
            <br>
            <input type="text" name="publico_alvo" value="{{ projetos.publico_alvo }}">
            <br>
            <label>justificativa</label>
            <br>
            <textarea name="justificativa" cols="23" rows="5">{{ projetos.justificativa }}</textarea>
            <br>
            <br>
            <button type="submit">Salvar</button>
            <a href="/">
                <button type="button">Cancelar</button>
            </a>
        </form>
    </div>

{% endblock %}