{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <title>{{projeto.nome}}</title>
  </head>
  <body>
    <header class="header__container">
      <div class="header__content container">
        <a class="nav-links" href="/">Repositório de<br>Açoes Afirmativas</a>
  
        <nav class="nav__container" id="nav-menu">
          <ul class="nav__content">
            <li><a href="/" class="nav-links">Ações Afirmativas</a></li>
            <li><a href="/" class="nav-links">Projetos</a></li>
            <li><a href="/" class="nav-links">Sobre-nós</a></li>
            {% if user.is_authenticated %}
            <li class="nav-item"><a class="nav-links" href="{% url 'account_logout' %}">Sair</a></li>
            {% else %}
            <li class="nav-item"><a class="nav-links" href="{% url 'account_login' %}">Entrar</a></li>
            <li class="nav-item"><a class="nav-links" href="{% url 'account_signup' %}">Cadastro</a></li>
            {% endif %}
          </ul>
        </nav>
        
        <div class="search__container" id="search-container">
          <div class="search-content">
            <div class="search__content">
              <form method="GET" action="{% url 'projetos:pesquisa' %}">
                <input
                  type="search"
                  name="q"
                  aria-label="Search" 
                  value='{{ request.GET.q }}'
                  placeholder="Pesquise Aqui"
                />
              </form>
            </div>
          </div>
        </div>
    </header>

    <main>
      <center>
      <section class="container" id="home">
        <div class="home__content container">
          <div class="home__title__container">
            <h1 class="home__title">{{projeto.nome}}</h1>
          </div>
          <img src="{% static 'imagens/logo_ifsc.png' %}"  alt="Persons image" />
        </div>
      </section>
    </center>

    <section class="actions__container" id="acoesafirmativas">
        <div class="actions__content container">
          <img class="bg-image bg1" src="{% static 'imagens/bg1.svg' %}" alt="" />
          <img class="bg-image bg2" src="{% static 'imagens/bg2.svg' %}"alt="" />
  
          <div class="actions__cards__container">
            <div class="actions__line"></div>
  
            <div class="cards__container">
              <img src="{% static 'imagens/ifsc.png' %}"  alt="*ifsc image" />
              <div class="dot"></div>
              <div class="card__text__container">
                <p class="acoes__description">
                  {{projeto.tematica}}
                </p>
              </div>
            </div>
            <div class="cards__container">
              <img
                class="inverter-image"
                src="{% static 'imagens/ifsc.png' %}"
                alt="action image"
              />
              <div class="dot"></div>
              <div class="card__text__container inverter-text">
                <p class="acoes__description">
                  
                </p>
              </div>
            </div>
  
            <div class="cards__container">
              <img src="{% static 'imagens/ifsc.png' %}" alt="ifsc image" />
              <div class="dot"></div>
              <div class="card__text__container">
                <p class="acoes__description">
                    {{projeto.objetivo}}
                </p>
              </div>
            </div>
  
            <div class="cards__container">
              <img
                class="inverter-image"
                src="{% static 'imagens/ifsc.png' %}"
                alt="action image"
              />
              <div class="dot"></div>
              <div class="card__text__container inverter-text">
                <p class="acoes__description">
                    {{projeto.justificativa}}
                </p>
              </div>
            </div>

            <div class="cards__container">
                <img src="{% static 'imagens/ifsc.png' %}" alt="ifsc image" />
                <div class="dot"></div>
                <div class="card__text__container">
                  <p class="acoes__description">
                        {{projeto.publico_alvo}}
                  </p>
                </div>
            </div>

            <div class="cards__container">
                <img
                  class="inverter-image"
                  src="{% static 'imagens/ifsc.png' %}"
                  alt="action image"
                />
                <div class="dot"></div>
                <div class="card__text__container inverter-text">
                  <p class="acoes__description">
                        {{projeto.data_criacao}}
                  </p>
                </div>
            </div>
          </div>

          </div>
        </div>
      </section>
  </body>
  <footer class="footer__container">
    <div class="footer__content container">
      <i class="ri-copyright-line"></i>
      <p class="copy">2021 devCleidison. All rights reserved.</p>
    </div>
  </footer>

    <script src="{% static 'js/apiConsumer.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</html>