{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />

    <title>Ações Afirmativas</title>
  </head>
  <body>
    <header class="header__container">
      <div class="header__content container">
        <a class="nav-links" href="/">Repositório de<br>Açoes Afirmativas</a>
  
        <nav class="nav__container" id="nav-menu">
          <ul class="nav__content">
            <li><a href="/" class="nav-links">Ações Afirmativas</a></li>
            <li><a href="/" class="nav-links">Projetos</a></li>
            <li><a href="/" class="nav-links">Sobre-nós</a></li>
            {% if user.is_authenticated %}
            <li class="nav-item"><a class="nav-links" href="{% url 'account_logout' %}">Sair</a></li>
            {% else %}
            <li class="nav-item"><a class="nav-links" href="{% url 'account_login' %}">Entrar</a></li>
            <li class="nav-item"><a class="nav-links" href="{% url 'account_signup' %}">Cadastro</a></li>
            {% endif %}
          </ul>
        </nav>
        
        <div class="search__container" id="search-container">
          <div class="search-content">
            <div class="search__content">
            <form method="GET" action="{% url 'projetos:pesquisa' %}">
              <input
                type="search"
                name="q"
                aria-label="Search" 
                value='{{ request.GET.q }}'
                placeholder="Pesquise Aqui"
              />
            </form>
            </div>
          </div>
        </div>
    </header>
    
    <main>
      <center>
      <section class="container" id="home">
        <div class="home__content container">
          <div class="home__title__container">
            <h1 class="home__title">Projetos Cadastrados</h1>
          </div>
          <img src="{% static 'imagens/logo_ifsc.png' %}"  alt="Persons image" />
        </div>

        <div class="btn_cadastrar_projeto">
          <a href="/projetos/projeto/">Cadastre seu projeto aqui</a>
        </div>

      </section>
    </center>

    <section class="actx__container" id="pokedex">
        <div class="actx__content container">
            {% for projeto in projetos %}
                <div class="projetos">
                  <a href="{{projeto.get_absolute_url}}">
                    <p class="text_projeto">{{ projeto.nome }}</p>
                  </a>
                </div>
            {% endfor %}
        </div>
      </section>

  </body>
</html>